<section class="section container-fluid">
  <h1 class="page-header">Wybierz pacjenta</h1>

	<div ng-show="isGridDataReady" id="grid1" ui-grid="gridOptions" ui-grid-edit class="grid"></div>
		<!--<table class="table table-hover table-condensed">-->
			<!--<thead>-->
				<!--<tr>-->
					<!--<td>Imię</td>-->
					<!--<td>Nazwisko</td>-->
					<!--<td>Data urodzenia</td>-->
					<!--<td>Numer PESEL</td>-->
					<!--<td>Data przyjęcia</td>-->
				<!--</tr>-->
			<!--</thead>-->
			<!--<tbody>-->
				<!--<tr ng-repeat="patient in patients">-->
					<!--<td>{{patient.name}}</td>-->
					<!--<td>{{patient.surname}}</td>-->
					<!--<td>{{patient.birthDate}}</td>-->
					<!--<td>{{patient.pesel}}</td>-->
					<!--<td>{{patient.activeStay.admitDate}}</td>-->
				<!--</tr>-->
			<!--</tbody>-->
		<!--</table>-->

</section>