<section ng-if="showView" class="section container-fluid">
    <div class="alert alert-danger" ng-show="error">
        Błędny login lub hasło. Spróbuj ponownie
    </div>
    <form role="form" ng-submit="login()">
        <div class="form-group">
            <label for="username">Login:</label> <input type="text"
                                                           class="form-control" id="username" name="username"
                                                           ng-model="credentials.username"/>
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label> <input type="password"
                                                           class="form-control" id="password" name="password"
                                                           ng-model="credentials.password"/>
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </form>
</section>
