<div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-content">
          <div class="navbar-brand navbar-brand-center">
            <h3 ng-click="header.collapsed = !header.collapsed"><small>Pacjent: </small>{{patient.name}}</h3>
          </div>
          <div class="pull-right" ui-yield-to="navbarAction">
            <small>Doba:</small>
            <div ui-toggle="uiSidebarRight" class="btn">
              <i class="fa fa-calendar fa-lg"></i>
            </div>
            <div ui-toggle="uiSidebarRight" class="btn">
              <span class="fa-stack">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-chevron-left fa-stack-1x"></i>
              </span>
            </div>
            <div ui-toggle="uiSidebarRight" class="btn">
              {{patient.day}}
            </div>
            <div ui-toggle="uiSidebarRight" class="btn">
              <span class="fa-stack">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-chevron-right fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="navbar-collapsible" collapse="header.collapsed">
			<div class="navbar-collapsible-content well table-container"> 
				<div class="row">				
					<div class="cell">
						Grupa krwi: {{patient.blood}}
					</div>				
					<div class="cell">
						Masa: {{patient.weight}}
					</div>
				</div>
				<div class="row">	
					<div class="cell">
						Data przyjęcia: {{patient.stayStartDate}}
					</div>
					<div class="cell">
						Data urodzenia: {{patient.birthDate}}
					</div>
				</div>
				<div class="row">				
					<div class="cell">
						Inne: {{patient.others}}
					</div>
				</div>
			</div>
			
          <!-- <div class="well well-lg">Some content12</div> -->
        </div>
      </div>